<app-navbar [title]="title"></app-navbar>

<ion-content>

  <div class="container mx-auto bg-slate-100 shadow-lg rounded-lg">
    <ion-card>
      <div class="grid grid-cols-2 items-center py-2 ion-padding-start ">
        <div class="flex items-center">
          <h1 class="text-xl font-semibold text-pantone-pro-black-c">Datos del vuelo</h1>
        </div>
        <div class="flex justify-end items-center ion-padding-end">
          <ion-button style="--background : var(--color-pantone-312c)" [routerLink]="['/form-retenidos']">
            Registrar nuevo objeto
          </ion-button>
        </div>
      </div>
    </ion-card>
    <ion-card style="--background-color: aquamarine;">
      <div class="ion-padding">
        <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
          <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <!-- Company Input -->
            <div class="mb-4">
              <label for="compania" class="block text-sm font-medium text-gray-700">Compañía *</label>
              <input type="text" id="compania" formControlName="compania"
                class="mt-1 block w-full bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2 focus:ring-blue-500 focus:border-blue-500"
                placeholder="Compañía" required />
              <div *ngIf="formulario.controls['compania'].invalid && formulario.controls['compania'].touched"
                class="text-red-500 text-sm mt-1">
                Este campo es obligatorio.
              </div>
            </div>

            <!-- Date Input -->
            <div class="mb-4">
              <label for="date" class="block text-sm font-medium text-gray-700">Fecha *</label>
              <input type="date" id="date" formControlName="fechaVuelo"
                class="mt-1 block w-full bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2 focus:ring-blue-500 focus:border-blue-500"
                required />
              <div *ngIf="formulario.controls['fechaVuelo'].invalid && formulario.controls['fechaVuelo'].touched"
                class="text-red-500 text-sm mt-1">
                Este campo es obligatorio.
              </div>
            </div>

            <!-- Time Input -->
            <div class="mb-4">
              <label for="time" class="block text-sm font-medium text-gray-700">Hora *</label>
              <div class="relative">
                <input type="time" id="time" formControlName="horaVuelo"
                  class="mt-1 block w-full bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2 focus:ring-blue-500 focus:border-blue-500"
                  min="09:00" max="18:00" required />
                <div *ngIf="formulario.controls['horaVuelo'].invalid && formulario.controls['horaVuelo'].touched"
                  class="text-red-500 text-sm mt-1">
                  Este campo es obligatorio.
                </div>
              </div>
            </div>
          </div>

          <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <!-- Flight Input -->
            <div class="mb-4">
              <label for="vuelo" class="block text-sm font-medium text-gray-700">Vuelo *</label>
              <input type="text" id="vuelo" formControlName="vuelo"
                class="mt-1 block w-full bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2 focus:ring-blue-500 focus:border-blue-500"
                placeholder="Vuelo" required />
              <div *ngIf="formulario.controls['vuelo'].invalid && formulario.controls['vuelo'].touched"
                class="text-red-500 text-sm mt-1">
                Este campo es obligatorio.
              </div>
            </div>

            <!-- Destination Input -->
            <div class="mb-4">
              <label for="destino" class="block text-sm font-medium text-gray-700">Destino *</label>
              <input type="text" id="destino" formControlName="destino"
                class="mt-1 block w-full bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2 focus:ring-blue-500 focus:border-blue-500"
                placeholder="Destino" required />
              <div *ngIf="formulario.controls['destino'].invalid && formulario.controls['destino'].touched"
                class="text-red-500 text-sm mt-1">
                Este campo es obligatorio.
              </div>
            </div>

            <!-- Boarding Gate Select -->
            <div class="mb-4">
              <label for="puenteEmb" class="block text-sm font-medium text-gray-700">Puerta de Embarque</label>
              <select id="puenteEmb" formControlName="puenteEmb"
                class="mt-1 block w-full bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2 focus:ring-blue-500 focus:border-blue-500">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
          </div>

          <div class="text-right items-center">
            <button type="submit"
              class="inline-flex items-center px-6 py-3 text-base font-medium text-white bg-pantone-286c rounded-lg hover:bg-pantone-cool-gray focus:ring-4 focus:outline-none focus:ring-black-35">
              Filtrar
            </button>
          </div>
        </form>
      </div>
    </ion-card>
    <div style="height: 1px; background-color: rgb(221, 214, 214);" class="w-full mt-6 mb-4"></div>
    <div class="flex items-center ion-padding-start ">
      <h1 class="text-xl font-semibold text-gray-900">Bandeja de entrada</h1>
    </div>
    <app-data-table></app-data-table>
  </div>

</ion-content>